.container {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: 1px solid var(--home-content-border-color);
  border-radius: 7px;
  padding: var(--home-content-padding);
  margin: 0 20px;
}
